*{

}

body{
	background-image: url("blue bg.jpg");
}

h5{
	text-align:center;
	background-color: lightgrey;
 	color:whitesmoke;
 	padding:30px;
}

img{
	width:100px;
	height: 100px;
}





